aside {
    height: 20px;
}

main {
    background: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,1) ),
                url(../assets/images/floripa.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #fff;
    align-content: space-between;
    position: absolute;
}

.me {
    display: flex;
    flex-direction: column;
    width: 100%;  
    text-align: center;
    justify-content: center;
    z-index: 0;
}

.me p {
    font-size: 1.1em;
}

.responsive {
    text-align: right;
    width: 100%;
    font-size: 2em;
    margin-right: 10px;
    color: white;
}

.teste {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}