.wrap-profile {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}

.professional-info {
	width: 50%;
	align-self: flex-start;
	text-align: justify;
	align-content: center;
	justify-content: center;
}

.wrap-info {
	width: 100%;
	align-items: center;
}

.ico-company {
	width: 20%;
}

.info-experience {
	width: 80%;
}